@model BTL_Nhom2.Models.DonDatHang

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa đơn đặt hàng</h2>

<h3>Bạn có chắc muốn xóa bản ghi này?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên KH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>

        <dt>
            Ngày đặt hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
