@model BTL_Nhom2.Models.KichCo

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết kích cỡ</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên kích cỡ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKichCo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
